@{
    ViewData["Title"] = "Dashboard";
    var currentYear = DateTime.Now.Year;
    @model Money
 }
<!-- Charts Start-->
<div class="charts-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="charts-single-pro mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0">
                    <div class="sparkline10-hd">
                        @if (Context.Request.Query["year"].Count == 0)
                        {
                            <h1 style="text-align:center;">Doanh thu năm @(currentYear.ToString())</h1>
                        }
                        else
                        {
                            <h1 style="text-align:center;">Doanh thu năm @Context.Request.Query["year"]</h1>
                        }
                           
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="font-weight:bold; font-size:20px;">
                            <p>Tổng tiền hoa hồng từ vấn trong năm: @Model.Sum.ToString("#,##0")<span>  đ</span></p>
                            <p>Tổng doanh thu ứng dụng trong năm: @Model.Count.ToString("#,##0")<span>  đ</span></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group" style=" position: relative;float: right;">
                                @Html.DropDownList("Year", ViewBag.Years as List<SelectListItem>, "-- Chọn năm --", new { @class = "form-control" })
                            </div>
                        </div>

                    </div>

                    <div class="chart-container" style="position: relative; height:80vh; width:80vw;margin: auto;">
                        <canvas id="myChart"></canvas>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Charts End-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/chart/jquery-3.7.1.js"></script>
<script type="text/javascript">

    $("#Year").change(function () {
        var selectedDataset = $(this).val();
        window.location.href = `/Payment/Index?year=${selectedDataset}`;
    });



    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            datasets: [
            {
                label: 'Doanh thu',
                    data: @Html.Raw(Json.Serialize(ViewData["Tests"] as List<int>)),
                borderWidth: 1,
                yAxisID: "y"
            },{
                label: 'Tiền hoa hồng',
                data: @Html.Raw(Json.Serialize(ViewData["Moneys"] as List<int>)),
                borderWidth: 1,
                yAxisID: "y1",
            }
            ]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    beginAtZero: true,
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    beginAtZero: true,
                    grid: {
                        drawOnChartArea: false,
                    },
                },
            }
        }
    });
</script>
