@using BAL.DTOs.TestResults;
@using DAL.Models;
@model BAL.DTOs.Accounts.GetAccount

@{
    ViewData["Title"] = "Details";
}


<!-- Single pro tab review Start-->
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="profile-info-inner">
                    <div class="profile-img">
                        <img src="img/profile/1.jpg" alt="" />
                    </div>
                    <div class="profile-details-hr">
                        <div class="row">
                            <div class="col-lg-12">
                                <div >
                                    <p><b>Họ và tên:</b> @Html.DisplayFor(model => model.name)</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div >
                                    <p><b>Ngày sinh:</b> @Html.DisplayFor(model => model.doB)</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div >
                                    <p><b>Giới tính:</b> @Html.DisplayFor(model => model.gender)</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div >
                                    <p><b>Email:</b> @Html.DisplayFor(model => model.email)</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div >
                                    <p><b>Số điện thoại:</b> @Html.DisplayFor(model => model.phone)</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div >
                                    <p><b>Địa chỉ:</b> @Html.DisplayFor(model => model.address)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                    <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
                        @if (Model.roleName == "User")
                        {
                            @foreach (GetTestResult item in ViewBag.TestResults)
                            {
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row mg-b-15">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="skill-title">
                                                                    <h2>Kết quả</h2>
                                                                    <hr />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-skill">
                                                            @{
                                                                int value1 = @item.getScores.Where(q => q.PersonalityTypeId == 1).Select(s => s.Result).FirstOrDefault()*10;
                                                            }
                                                            <h2>Kỹ thuật</h2>
                                                            <h2><span>@value1</span>%</h2>
                                                            <div class="progress progress-mini">
                                                                <div style="width: @value1%;" class="progress-bar progress-red"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-skill">
                                                            @{
                                                                int value2 = @item.getScores.Where(q => q.PersonalityTypeId == 2).Select(s => s.Result).FirstOrDefault() * 10;
                                                            }
                                                            <h2>Nghiên cứu </h2>
                                                            <h2><span>@value2</span>%</h2>
                                                            <div class="progress progress-mini">
                                                                <div style="width: @value2%;" class="progress-bar progress-orange"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-skill">
                                                            @{
                                                                int value3 = @item.getScores.Where(q => q.PersonalityTypeId == 3).Select(s => s.Result).FirstOrDefault() * 10;
                                                            }
                                                            <h2>Nghệ thuật</h2>
                                                            <h2><span>@value3</span>%</h2>
                                                            <div class="progress progress-mini">
                                                                <div style="width: @value3%;" class="progress-bar progress-yellow"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-skill">
                                                            @{
                                                                int value4 = @item.getScores.Where(q => q.PersonalityTypeId == 5).Select(s => s.Result).FirstOrDefault() * 10;
                                                            }
                                                            <h2>Xã hội</h2>
                                                            <h2><span>@value4</span>%</h2>
                                                            <div class="progress progress-mini">
                                                                <div style="width: @value4%;" class="progress-bar progress-green"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-skill">
                                                            @{
                                                                int value5 = @item.getScores.Where(q => q.PersonalityTypeId == 6).Select(s => s.Result).FirstOrDefault() * 10;
                                                            }
                                                            <h2>Quản lý</h2>
                                                            <h2><span>@value5</span>%</h2>
                                                            <div class="progress progress-mini">
                                                                <div style="width: @value5%;" class="progress-bar progress-blue"></div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-skill">
                                                            @{
                                                                int value6 = @item.getScores.Where(q => q.PersonalityTypeId == 7).Select(s => s.Result).FirstOrDefault() * 10;
                                                            }
                                                            <h2>Nghiệp vụ</h2>
                                                            <h2><span>@value6</span>%</h2>
                                                            <div class="progress progress-mini">
                                                                <div style="width: @value6%;" class="progress-bar progress-purple"></div>
                                                            </div>
                                                        </div>
                                                        <div class="address-hr biography">
                                                            <p>
                                                                <b>Đánh giá</b><br /> de justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras
                                                                dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequa
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        
                        @if (Model.roleName == "Consultant")
                        {
                            <div class="product-tab-list tab-pane fade active in" id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="chat-discussion" style="height: auto">
                                                @foreach (Feedback feedback in ViewBag.Feedbacks)
                                                {
                                                    <div class="chat-message">
                                                        <div class="message">
                                                            <a class="message-author" href="#"> Michael Smith </a>
                                                            <span class="message-date"> @Html.DisplayFor(modelItem => feedback.CreateDateTime) </span>
                                                            <span class="message-content">
                                                                @Html.DisplayFor(modelItem => feedback.Comment)
                                                            </span>
                                                            <div class="m-t-md mg-t-10">
                                                                <div class="review-item-rating">
                                                                    @for (int i = 0; i < feedback.Star; i++)
                                                                    {
                                                                        <i class="educate-icon educate-star"></i>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>